@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;

}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
}
#logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

#header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1rem;
    background: #e7e7e7;
}
#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        transition: .6s;
        background-color: #e7e7e7;
        visibility: hidden;
        overflow: hidden;
        z-index: 1000;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

.container-one {
    background: url(img/gestante1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
}
@media (max-width: 767px) {
    .container-one {
        background-image: url(img/gestante1.jpg);
        background-position: 62% 43px;
        background-size: cover;
    }
}
.box-container-one {
    padding: 10px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}


.separator {
    color: #6A5A41;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 400;
}
.text-one {
    margin: 0% 50% 0% 0%;
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.text-one > h3 {
    margin-bottom: 30px;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1em;
    text-shadow: 2px 2px 1px #000000;
}
@media screen and (max-width: 767px) {
    .text-one > h3 {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 1.3em;
    }        
}
.text-one > p {
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.99);
    margin-bottom: 15px;
}

.btn-one {
    color: #FFFFFF;
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #7e5b5e;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFFA3;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 14px;
}

@media screen and (max-width: 385px) {
    .btn-one {
        font-size: 12px;
    }
}

.container-two {
    display: grid;
    height: 100%;
    background-color: #D9E4DE;
    grid-template-areas:
        ". . . . . ."
        ". intro . . desc . "
        ". intro . . desc . "
        ". . . . . ."
    ;
    gap: 20px;
    border-radius: 15px;
}
@media screen and (max-width: 767px) {
    .container-two {
        display: block;
    }
}
.intro-two {
    grid-area: intro;
    margin: 20px 0 20px 0;
}
.box-description-two {
    grid-area: desc;
}
.intro-two h1{
    font-size: 40px;
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .intro-two h1 {
        font-size: 30px;
    }
}

.intro-two p {
    display: flex;
    color: #7e5b5e;
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    margin: 0 40px;
}

@media (max-width:767px) {
    .intro-two p {
        font-size: 25px;
    }
}
.box-description-two {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    padding: 10px;
}
.box-description-two > p {
    margin: 18px 18px;
}
.container-three {
    background-color: #f0f1f4;
    background-image: url(img/gestante5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    height: 80vh;
    padding: 150px;
    border-radius: 15px;
}
@media (max-width:767px) {
    .container-three {
        padding: 50px;
        height: 100%;
    }
}
.box-container-three {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: #FFFFFFDE;
    border-radius: 15px;
    padding: 30px;
}
@media (max-width:767px) {
    .box-container-three {
        display: block;
        padding: 15px;
    }
}
.intro-three {
    padding: 30px;
}
.intro-three h4{
    color: #215387;
    line-height: 1;
    font-family: "Poppins", Sans-serif;
    margin-bottom: 15px;
}
.btn-three{
    text-align: center;
    font-family: "Barlow", Sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #7e5b5e;
    border-radius: 50px;
    padding: 20px 30px;
}
@media (max-width: 767px){
    .btn-three {
        padding: 20px 15px;
        margin: 0px 120px;
    }
}
@media (max-width: 528px) {
    .btn-three {
        margin: auto;
    }
}

.btn-three a{
    color: #FFFFFF;
}

footer {
    background-color: #C0CFC8;
    padding: 20px;
    color: #000000;
    text-align: center;
}

footer a {
    color: #215387;
}
