@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;

}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    width: 100%;
    height: 80px;
    background: #333;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #edf0f1;
}

.menu {
    display: none;
}
.nav-bar.active {
    height: 450px;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #edf0f1;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

nav li a:hover {
    color: #0088a9;
    background-color: #edf0f1;
}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }
}
@media screen and (max-width:900px) {
    .menu {
        display: block;
        cursor: pointer;
    }
    .menu .line {
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
.container-one {
    background: url(img/gestante1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
}
@media (max-width: 767px) {
    .container-one {
        background-image: url(img/gestante1.jpg);
        background-position: 62% 43px;
        background-size: cover;
    }
}
.box-container-one {
    padding: 10px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}


.separator {
    color: #6A5A41;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 400;
}
.text-one {
    margin: 0% 50% 0% 0%;
    padding: 0px 0px 10px 0px;
    width: 100%;
}
.text-one > h3 {
    margin-bottom: 30px;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1em;
    text-shadow: 2px 2px 1px #000000;
}
@media screen and (max-width: 767px) {
    .text-one > h3 {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 1.3em;
    }        
}
.text-one > p {
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.99);
    margin-bottom: 15px;
}

.btn-one {
    color: #FFFFFF;
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #7e5b5e;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFFA3;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 14px;
}

@media screen and (max-width: 385px) {
    .btn-one {
        font-size: 12px;
    }
}
